body {
    background: #1e1f20;
    color: #d2d3d4;
}

.container {
    margin-top: 20px;
}

a {
    color: #1897db;
}

.table {
    color: #d2d3d4;
}

.table-bordered td,
.table-bordered th {
    border-color: #c8c9ca;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(46, 45, 45, 0.7);
}

th {
    background: #4b4e52;
    color: #dee1e4;
}

.new_errors {
    color: #ea3c3d;
}

.fixed_errors {
    color: #2aba27;
}
